<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni.beeAlfred</string>
	<key>connections</key>
	<dict>
		<key>20ADD8B0-284C-464F-86BF-CDC303CDACE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>816640BC-A666-4ED9-A8B4-FD39A84CE5F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2ECFF55B-5B60-413E-95AE-BE1BF28AE60B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB631951-520A-4513-9092-90279435DAF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F967063-1526-4697-A640-2F78732BED34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20ADD8B0-284C-464F-86BF-CDC303CDACE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F7D3DC14-9536-4A55-9197-C1D6E4C148C1</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open in Beeminder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CC89AFA-F896-4125-B504-26D5FB05BE1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F967063-1526-4697-A640-2F78732BED34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>816640BC-A666-4ED9-A8B4-FD39A84CE5F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ECFF55B-5B60-413E-95AE-BE1BF28AE60B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5095EF1-DE0E-474C-AC8B-C374680C7439</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F967063-1526-4697-A640-2F78732BED34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB631951-520A-4513-9092-90279435DAF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77401C41-D9A0-4C1C-B28A-BBF9B0BEAF89</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4FB22564-A9A6-4247-AD3C-A09B35E46363</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>mind the 🐝 with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>beeAlfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter datapoint for {var:slug}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>816640BC-A666-4ED9-A8B4-FD39A84CE5F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>Restart</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A5095EF1-DE0E-474C-AC8B-C374680C7439</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>Restart</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>77401C41-D9A0-4C1C-B28A-BBF9B0BEAF89</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>slug</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>20ADD8B0-284C-464F-86BF-CDC303CDACE7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>myValue</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2ECFF55B-5B60-413E-95AE-BE1BF28AE60B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 beeminder_post.py "${slug}" "${myValue}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FB631951-520A-4513-9092-90279435DAF8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>!q</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>retrieving your goals...</string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 beeminder_get.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Beeminder 🐝 from Alfred</string>
				<key>title</key>
				<string>beeAlfred</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3F967063-1526-4697-A640-2F78732BED34</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4CC89AFA-F896-4125-B504-26D5FB05BE1F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Entered "{var:myValue}" in goal {var:slug}</string>
				<key>title</key>
				<string>Done! 🐝</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4FB22564-A9A6-4247-AD3C-A09B35E46363</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.beeminder.com/{var:BEEUSER}/{query}#data</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F7D3DC14-9536-4A55-9197-C1D6E4C148C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Mind the 🐝 with Alfred!

Setting up
Set the BEETOKEN variable to your Beeminder Auth Token
Set the BEEUSER variable to your Beeminder username
(Optional) Edit the BEECOMMENT variable

Usage
- search a goal by typing '!q' followed by a goal name or matching string
- select your goal by pressing `return`.
	- `option-return (⌥⏎)` will open the goal in Beeminder
- enter your value plus an optional comment after space</string>
	<key>uidata</key>
	<dict>
		<key>20ADD8B0-284C-464F-86BF-CDC303CDACE7</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>2ECFF55B-5B60-413E-95AE-BE1BF28AE60B</key>
		<dict>
			<key>xpos</key>
			<real>975</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>3F967063-1526-4697-A640-2F78732BED34</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>4CC89AFA-F896-4125-B504-26D5FB05BE1F</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>4FB22564-A9A6-4247-AD3C-A09B35E46363</key>
		<dict>
			<key>xpos</key>
			<real>1385</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>77401C41-D9A0-4C1C-B28A-BBF9B0BEAF89</key>
		<dict>
			<key>xpos</key>
			<real>1400</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>816640BC-A666-4ED9-A8B4-FD39A84CE5F5</key>
		<dict>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>A5095EF1-DE0E-474C-AC8B-C374680C7439</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>F7D3DC14-9536-4A55-9197-C1D6E4C148C1</key>
		<dict>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>FB631951-520A-4513-9092-90279435DAF8</key>
		<dict>
			<key>xpos</key>
			<real>1120</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Beeminder Username</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>BEEUSER</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Copy the authentication token from "Apps &amp; API" in your Beeminder account settings</string>
			<key>label</key>
			<string>Beeminder Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>BEETOKEN</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>e.g. -- from Alfred 🐝</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Comment</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>BEECOMMENT</string>
		</dict>
	</array>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/beeAlfred</string>
</dict>
</plist>
